<section id="acerca-de" class="">
    <div class="container-fluid">
        <div class="row editar-seccion">
            <div class="col-1"></div>
            <div class="col-10">
                <button class="btn btn-primary">EDITAR SECCIÓN</button>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-6">
                <div class="row titulo-seccion">
                    <div class="col">
                        <h1>{{acercaDe.nombre}}<br>{{acercaDe.apellido}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-11">
                        <ul>
                            <li *ngFor="let titulo of acercaDe.titulos">{{titulo.nombre}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-3">
                <img class="img-fluid imagen-recuadrada" src="./assets/imagenes/acerca-de-600px@2x.jpg"
                    alt="Yo apuntando a mis títulos">
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10" [innerHTML]="acercaDe.descripcion"></div>
            <div class="col-1">
            </div>
        </div>
        <div class="row">
            <div class="col-7">
            </div>
            <div class="col-3">
                <img class="img-responsive" src="./assets/imagenes/firma-pablo.svg">
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
</section>