<section id="acerca-de" class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-6">
                <div class="row titulo-seccion">
                    <div class="col">
                        <h1>Pablo Andrés<br>Martínez Roca</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-11">
                        <ul>
                            <li>Licenciado en Tecnologías Multimediales</li>
                            <li>Técnico Electrónico</li>
                            <li>Docente Secundario en TIC</li>
                            <li>Emprendedor</li>
                            <li>Programador Entusiasta</li>
                            <li>Estudiante autodidacta proactivo</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-3">
                <img class="img-fluid imagen-recuadrada" src="./assets/imagenes/acerca-de-600px@2x.jpg"
                    alt="Yo apuntando a mis títulos">
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <p>Trabajo y me divierto con computadoras desde los 10 años. Apasionado de la tecnología y el
                    entretenimiento, inicié mi carrera como casi todos los chicos: jugando.</p>
                <p>Seguí estudios técnicos por tradición familiar y luego elegí devolver a la sociedad algo de todo
                    lo aprendido: doy clases desde hace más de 20 años.</p>
                <p>Fundé una agencia de Comunición en Punto de Venta donde día a día resuelvo los problemas y brindo
                    soluciones a las necesidades de mis clientes.</p>
                <p>Estoy en constante autoaprendizaje, intentando posicionarme a la vanguardia de lo que hago.</p>
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row">
            <div class="col-7">
            </div>
            <div class="col-3">
                <img class="img-responsive" src="./assets/imagenes/firma-pablo.svg">
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
</section>