<section id="habilidades" class="bg-habilidades-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="row titulo-seccion">
                    <div class="col-4">
                        <h1>Hard & Soft skills</h1>
                    </div>
                    <div class="col-8"></div>
                </div>

                <!-- Habilidades -->
                <div class="row">
                    <div class="col-12" id="set-habilidades">
                        <!-- item habilidad -->
                        <div class="row habilidad">
                            <div class="col-4 px-0"></div>
                            <div class="col-8 px-0">
                                <div class="row">
                                    <div class="col-2 px-0 skill-pre-bar-container">
                                        <div class="skill-pre-bar" style="--color: #66cccc; "></div>
                                    </div>
                                    <div class="col-10 px-0 skill-bar-container barra-porcentaje-habilidades">
                                        <div class="skill-bar" valor="90%" style="--color: #01cc9b; --max-width: 90%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 skill-name-container ">
                                <div class="skill-name" style="--color: #01cc9b;">TRABAJO EN EQUIPO</div>
                            </div>
                        </div>
                        <!-- item habilidad -->
                        <div class="row habilidad">
                            <div class="col-4 px-0"></div>
                            <div class="col-8 px-0">
                                <div class="row">
                                    <div class="col-2 px-0 skill-pre-bar-container">
                                        <div class="skill-pre-bar" style="--color: #ccff66; "></div>
                                    </div>
                                    <div class="col-10 px-0 skill-bar-container barra-porcentaje-habilidades">
                                        <div class="skill-bar" valor="60%" style="--color: #99cc00; --max-width: 60%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 skill-name-container ">
                                <div class="skill-name" style="--color: #99cc00;">INGLÉS</div>
                            </div>
                        </div>
                        <!-- item habilidad -->
                        <div class="row habilidad">
                            <div class="col-4 p-0"></div>
                            <div class="col-8 p-0">
                                <div class="row px-0">
                                    <div class="col-2 px-0 skill-pre-bar-container">
                                        <div class="skill-pre-bar" style="--color: #9999cc; "></div>
                                    </div>
                                    <div class="col-10 px-0 skill-bar-container barra-porcentaje-habilidades">
                                        <div class="skill-bar" valor="80%" style="--color: #666699; --max-width: 80%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 skill-name-container ">
                                <div class="skill-name" style="--color: #666699;">USO DE TECNOLOGÍAS</div>
                            </div>
                        </div>
                        <!-- escala -->
                        <div class="row escala">
                            <div class="col-4 px-0"></div>
                            <div class="col-8 px-0">
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-1 p-0" style="left: 0em;">0</div>
                                    <div class="col-1 p-0" style="left: 0em;">10</div>
                                    <div class="col-1 p-0" style="left: 0em;">20</div>
                                    <div class="col-1 p-0" style="left: 0em;">30</div>
                                    <div class="col-1 p-0" style="left: 0em;">40</div>
                                    <div class="col-1 p-0" style="left: 0em;">50</div>
                                    <div class="col-1 p-0" style="left: 0em;">60</div>
                                    <div class="col-1 p-0" style="left: 0em;">70</div>
                                    <div class="col-1 p-0" style="left: 0em;">80</div>
                                    <div class="col-1 p-0" style="left: 0em;">90</div>
                                    <div class="col-1 p-0" style="left: 0em;">100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>