<section id="habilidades" class="bg-habilidades-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="row titulo-seccion">
                    <div class="col-4">
                        <h1>Hard & Soft skills</h1>
                    </div>
                    <div class="col-8"></div>
                </div>

                <!-- Habilidades -->
                <div class="row">
                    <div class="col-12" id="set-habilidades">
                        <!-- item habilidad -->
                        <div class="row habilidad" *ngFor="let habilidad of habilidades.lista">
                            <div class="col-4 px-0"></div>
                            <div class="col-8 px-0">
                                <div class="row">
                                    <div class="col-2 px-0 skill-pre-bar-container">
                                        <div class="skill-pre-bar" [style]="'--color: #'+habilidad.colorHigh+'; '"></div>
                                    </div>
                                    <div class="col-10 px-0 skill-bar-container barra-porcentaje-habilidades">
                                        <div class="skill-bar" [style]="'--color: #'+habilidad.color+'; --max-width: '+habilidad.valor+'; '" [title]="habilidad.valor">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 skill-name-container ">
                                <div class="skill-name" style="--color: #{{habilidad.color}};">{{habilidad.nombre}}</div>
                            </div>
                        </div>
                        <!-- escala -->
                        <div id="escalaHabilidades" class="row escala">
                            <div class="col-4 px-0"></div>
                            <div class="col-8 px-0">
                                <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-1 p-0" style="left: 0em;">0</div>
                                    <div class="col-1 p-0" style="left: 0em;">10</div>
                                    <div class="col-1 p-0" style="left: 0em;">20</div>
                                    <div class="col-1 p-0" style="left: 0em;">30</div>
                                    <div class="col-1 p-0" style="left: 0em;">40</div>
                                    <div class="col-1 p-0" style="left: 0em;">50</div>
                                    <div class="col-1 p-0" style="left: 0em;">60</div>
                                    <div class="col-1 p-0" style="left: 0em;">70</div>
                                    <div class="col-1 p-0" style="left: 0em;">80</div>
                                    <div class="col-1 p-0" style="left: 0em;">90</div>
                                    <div class="col-1 p-0" style="left: 0em;">100</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>