<section id="educacion" class="">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-10">
            <div class="row titulo-seccion">
                <div class="col-4">
                    <h1>Educación</h1>
                </div>
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-7">
            <!-- item educación -->
            <div class="row item-educacion" *ngFor="let educacion of educacion.lista">
                <div class="col-3">
                    <img class="img-fluid educacion-item-img" src="./assets/imagenes/logos-educacion/{{educacion.urlLogo}}">
                </div>
                <div class="col-9">
                    <p class="educacion-institucion">{{educacion.institucionAcademica}}</p>
                    <p class="educacion-carrera">{{educacion.carrera}}</p>
                    <div *ngFor="let titulo of educacion.titulos">
                        <p class="educacion-titulo">{{titulo.titulo}}</p>
                        <p class="educacion-periodo">{{titulo.fechaInicio}} - {{titulo.fechaFinal}}<span *ngIf="titulo.fechaFinal ==''">actualidad</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <img class="img-fluid imagen-recuadrada" src="./assets/imagenes/educacion-450x600px@2x.jpg"
                alt="Pienso, luego descanso">
        </div>
        <div class="col-1">
        </div>
    </div>
</section>