<section id="proyectos" class="bg-proyectos-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="row titulo-seccion">
                    <div class="col-4">
                        <h1>Proyectos</h1>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
        <!-- item proyecto -->
        <div class="row item-proyecto bg-item-proyecto" *ngFor="let proyecto of proyectos.lista">
            <div class="col-6">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10 info-item-proyecto">
                        <p class="proyecto-titulo">{{proyecto.nombre}}</p>
                        <p class="proyecto-ambito">{{proyecto.ambitoDeDesarrollo}}</p>
                        <p class="proyecto-periodo"><span [innerHTML]="proyecto.fechaInicio"></span> - <span [innerHTML]="proyecto.fechaFinal"></span><span *ngIf="proyecto.fechaFinal == ''">actualidad</span></p>
                        <p class="proyecto-descripcion">{{proyectos.descripcionProyecto}}</p>
                        <p class="proyecto-link">Link de visita <a [href]="'http://'+proyecto.urlProyecto" target="_blank">aquí</a>.</p>


                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-10">
                        <img class="img-fluid" [src]="'./assets/imagenes/proyectos/'+proyecto.urlImagen">
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        <!-- bottom line-->
        <div class="row">
            <div class="col-12 p-0 bg-proyectos-end-container">
                <img src="./assets/imagenes/proyectos-back-600x820px@2x.jpg">
            </div>
        </div>
    </div>
</section>
