<section id="experiencia" class="bg-experiencia-container">
    <div class="container-fluid">
        <div class="row editar-seccion">
            <div class="col-1"></div>
            <div class="col-10">
                <button class="btn btn-primary">EDITAR SECCIÓN</button>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="row titulo-seccion">
                    <div class="col-4">
                        <h1>Experiencia</h1>
                    </div>
                </div>
                <!-- bloque de experiencias-->
                <div class="row bg-experiencia-item my-4" *ngFor="let experiencia of experiencia.lista">
                    <div class="col">
                        <div class="row my-3 ms-3">
                            <div class="col-3">
                                <img [src]="'./assets/imagenes/logos-experiecia/'+experiencia.urlLogo" class="img-experiencia">
                            </div>
                        </div>
                        <div class="row" *ngFor="let puesto of experiencia.puestos">
                            <div class="col-6 ps-5">
                                <p><span class="puesto">{{puesto.puesto}}</span><br />{{puesto.fechaInicio}} - {{puesto.fechaFinal}}<span *ngIf="puesto.fechaFinal ==''">actualidad</span> · {{puesto.duracion}}<br />{{puesto.ubicacion}}</p>
                            </div>
                            <div class="col-6 pe-5 tareas" [innerHTML]="puesto.descripcionActividades"></div>
                        </div>
                    </div>
                </div>
                <!-- fin bloque de experiencias-->
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
</section>