<section id="experiencia" class="bg-experiencia-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="row titulo-seccion">
                    <div class="col-4">
                        <h1>Experiencia</h1>
                    </div>
                </div>
                <!-- bloque de experiencias-->
                <div class="row bg-experiencia-item my-4">
                    <div class="col">
                        <div class="row my-3 ms-3">
                            <div class="col-3">
                                <img src="./assets/imagenes/logos-experiecia/logo-dmice.svg" class="img-experiencia">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 ps-5">
                                <p>Director<br />
                                    Profesional independiente<br />
                                    ene. 2008 - actualidad · 14 años 6 meses<br />
                                    Argentina</p>


                                <p>Project Manager<br />
                                    dic. 2006 - actualidad · 15 años 7 meses<br />
                                    Argentina</p>
                            </div>
                            <div class="col-6 pe-5">
                                <p><i>Coordinación, ejecución, implementación y control integral de proyectos de
                                        Marketing
                                        y Comunicación de diversa índole.</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fin bloque de experiencias-->
                <!-- bloque de experiencias-->
                <div class="row bg-experiencia-item my-4">
                    <div class="col">
                        <div class="row my-3 ms-3">
                            <div class="col-3">
                                <img src="./assets/imagenes/logos-experiecia/logo-escuela-philips.svg" class="img-experiencia">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 ps-5">
                                <p>Titular Cátedra de Informática y TIC<br />
                                    Docente<br />
                                    mar. 1998 - actualidad · 24 años 4 meses<br />
                                    Ciudad de Buenos Aires, Argentina</p>


                                <p>Departamento de Sistemas y Multimedia<br />
                                    mar. 1998 - nov. 2006 · 9 años 9 meses<br />
                                    Ciudad de Buenos Aires, Argentina</p>
                            </div>
                            <div class="col-6 pe-5">
                                <p><i>Coordinación, ejecución, implementación y control integral de proyectos de
                                        Marketing y Comunicación de diversa índole.</i></p>
                                <p><i>Dictado de clases teóricas en nivel secundario técnico.</i></p>
                                <p><i>Personal del departamento de sistemas.</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fin bloque de experiencias-->
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
</section>